{% extends 'base.html' %}
{% block title %}Features - NeuroComm{% endblock %}
{% block content %}
<header class="text-center my-4">
    <h1>Features</h1>
</header>

<div id="featuresCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="position-relative">
        <img src="{{ url_for('static', filename='images/family.jpg') }}" alt="Contact Loved Ones" class="img-fluid mb-3">
        <div class="position-absolute top-50 start-50 translate-middle text-white text-center">
          <h4>Contact Loved Ones When Overwhelmed</h4>
          <p>When feeling overwhelmed, reach out to your trusted contacts for help and support.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="position-relative">
        <img src="{{ url_for('static', filename='images/stress.jpg') }}" alt="Track Stress" class="img-fluid mb-3">
        <div class="position-absolute top-50 start-50 translate-middle text-white text-center">
          <h4>Track Stress Over Time</h4>
          <p>Monitor your stress levels and see how they fluctuate over time, helping you understand triggers and patterns.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="position-relative">
        <img src="{{ url_for('static', filename='images/non_verbal.jpg') }}" alt="Non-Verbal Communication" class="img-fluid mb-3">
        <div class="position-absolute top-50 start-50 translate-middle text-white text-center">
          <h4>Non-Verbal Communication</h4>
          <p>Send a message to a loved one when it's difficult to communicate</p>
          <p>Let them know you are ok, or need assistance</p>
        </div>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#featuresCarousel" data-bs-slide="prev" style="width: 60px; height: 60px; left: 0; top: 50%; transform: translateY(-50%);">
    <span class="carousel-control-prev-icon" aria-hidden="true" style="width: 40px; height: 40px;"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#featuresCarousel" data-bs-slide="next" style="width: 60px; height: 60px; right: 0; top: 50%; transform: translateY(-50%);">
    <span class="carousel-control-next-icon" aria-hidden="true" style="width: 40px; height: 40px;"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock %}
